{% extends 'base2.html' %}
{% load static %}

{% block css %}
  <link href="{% static 'css/offcanvass.css' %}" rel="stylesheet">
  <link href="{% static 'css/pagination.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <!-- <div class="jumbotron" style="margin-top: 20px; padding:0px;">
    <img class="" src="{% static 'img/main_image.jpg' %}" alt="" style="width: 100%; height:300px;">
  </div> -->

  <div class="container">
    <div class="row">

      <div class="jumbotron" style="margin-top: 15px; padding:0px;">
        <img class="" src="{% static 'img/main_image.jpg' %}" alt="" style="width: 100%; height:300px;">
      </div>

      <!-- col-xs-4 col-sm-2 -->
      <div class="col-md-2 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <h3>본당단체</h3>
          <a href="{% url 'post:pastoral_counsil' %}" class="list-group-item">사목협의회</a>
          <a href="{% url 'group:group_list' %}" class="list-group-item active">단체 일정</a>
        </div>
      </div>
        <!--/.sidebar-offcanvas-->

      <!-- <div class="col-md-10" style="border: 1px solid #f4f4f4"> -->
      <div class="col-md-10" id="content">

        <h3>단체 개시판</h3>
        <hr>

        <div class="input-group col-md-4" style="float: left;">
          <form action="" method="get">
            {% csrf_token %}
            <span class="input-group-btn">
              <input type="text" class="form-control input-md" placeholder="검색..." name="q" value="{{ q }}" />
            </span>
            <span class="input-group-btn">
              <button class="btn btn-info btn-md notice-search" type="submit" style="background:#555; border-color:#555;">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </form>
        </div>

        {% if user.is_authenticated %}
          <a href="{% url 'group:group_new' %}" class="pull-right btn btn-info" style="float: left; background:#555; border-color:#555;">글쓰기</a>
        {% endif %}

        <div style="margin-top:130px;">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
                <th>조회수</th>
              </tr>
            </thead>
            <tbody>
              {% for group in group_list %}
                <!-- style="cursor:pointer;" -->
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <a href="{% url 'group:group_detail' group.pk %}" class="view-counter">{{ group.title }}
                      {% if group.groupcomment_set.all %}
                        <small class="text-danger">[{{ group.groupcomment_set.count }}]</small>
                      {% endif %}
                    </a>
                  </td>
                  <td><small>{{ group.user.last_name }}{{ group.user.first_name }}</small></td>
                  <td><small>{{ group.updated_at }}</small></td>
                  <td>{{ group.hits }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {# Pagination #}

          <nav class="text-center">
            <ul class="pagination">
              {% if group_list.has_previous %}
		            <li><a href="?page={{ group_list.previous_page_number }}">&laquo;</a></li>
              {% else %}
		            <li class = "disabled"><span>&laquo;</span></li>
              {% endif %}

  		        {% if group_list.number > 2  %}
  		        	<li><a href="?page={{ 1 }}"> 1 </a></li>
  		        	<li ><span>...<span class="sr-only">...</span></span></li>
  		        {% endif %}
  		        {% for i in page_range %}
  		          {% if group_list.number == i %}
  		            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
  		          {% else %}
  		            <li><a href="?page={{ i }}">{{ i }}</a></li>
  		          {% endif %}
		          {% endfor %}

  		        {% if group_list.number < max_index %}
  		      		<li ><span>...<span class="sr-only">...</span></span></li>
  		        	<li><a href="?page={{ max_index|add:'2' }}">{{ max_index|add:"2" }}</a></li>
  		        {% endif %}

  		        {% if group_list.has_next %}
  		            <li><a href="?page={{ group_list.next_page_number }}">&raquo;</a></li>
  		        {% else %}
  		            <li class="disabled"><span>&raquo;</span></li>
  		        {%endif %}
            </ul>
          </nav>

      </div>

    </div>
  </div>
{% endblock %}

{% block extra_body %}
{% endblock %}
