{% extends 'base2.html' %}
{% load static %}

{% block css %}<link href="{% static 'css/offcanvass.css' %}" rel="stylesheet">{% endblock %}

{% block content %}

  <!-- <div class="jumbotron" style="margin-top: 20px; padding:0px;">
    <img class="" src="{% static 'img/main_image.jpg' %}" alt="" style="width: 100%; height:300px;">
  </div> -->

  <div class="container">
    <div class="row">

      <div class="jumbotron" style="margin-top: 15px; padding:0px;">
        <img class="" src="{% static 'img/main_image.jpg' %}" alt="" style="width: 100%; height:300px;">
      </div>

      <div class="col-md-2 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <h3>본당소개</h3>
          <a href="{% url 'post:church_info' %}" class="list-group-item active">본당소개</a>
          <a href="{% url 'post:history' %}" class="list-group-item">본당연혁</a>
          <a href="{% url 'post:father_sister' %}" class="list-group-item">신부님/수녀님</a>
          <a href="{% url 'post:location' %}" class="list-group-item">오시는길</a>
        </div>
      </div>
      <!--/.sidebar-offcanvas-->

      <div class="col-md-10" id="content">

        <h3>본당소개</h3>
        <hr>


        <div class="col-md-10 col-md-offset-1">
          <!-- <img src="{% static 'img/church-maingate.jpg' %}" style="width:100%; height:700px;" alt=""> -->
          <h3 style="margin-top:50px;">약사</h3>
          <p>
            대치4동 성당은 대치동 대치2동성당을 모본당으로 1999년 9월 설립되었습니다. 당시 2,681명의 신자로 대치3-4동을
            본당 관할구역으로 7개 구역 43개 반을 구성했습니다. 초기에는 성당 건물이 없는 주차장에서 시작하였으나, 신자들의
            염원으로 그 이듬해인 2000년 11월 성전을 세우고 성정 축복식을 통해 교회 공동체의 모습을 갖추게 되었습니다. 그후
            2004년 본당 주임신부는 대치3동에 교회 건물을 매매한다는 소문을 듣고 교구와 상의하여, 2004년 9월 대치3동 성당을
            분가하였습니다. 2004년 8월에는 거룩한말씀의회 수녀가 첫 부임해 사목을 도왔습니다.
          </p>

          <h3 style="margin-top:50px;">개황</h3>
          <table class="table table-hover">
            <tr>
              <td></td>
              <td></td>
              <th>명칭</th>
              <td>천주교서울대교구 대치4동성당</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th>설립연월일</th>
              <td>1999년 9월 17일</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th>소재지</th>
              <td>서울특별시 강남구 삼성로71길 10</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th>주보성인</th>
              <td>아기예수의 성녀데레사</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th>관할구역</th>
              <td>대치4동 전부</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th>구역반수</th>
              <td>6구역 n개반</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th>신자수</th>
              <td>2,041명 (2019년 4월 현재)</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
