{% extends 'base2.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="{% static 'img/main_image.jpg' %}" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <!-- <h1>Example headline.</h1>
          <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="{% static 'img/Daechi4dong_Catholic_church.JPG' %}" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <!-- <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="{% static 'img/francis.jpg' %}" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <!-- <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="col-md-3 col-sm-6 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong>공지사항</strong></h4>
        {% for notice in notice_list|slice:":5" %}
          <ul style="padding-left:0px; line-height: 1;">
            <li style="list-style:none;">
              <a href="{% url 'notice:notice_detail' notice.pk %}" class="view-counter" style="color:#5D5D5D;">
                - {{ notice.title|truncatechars:10 }}
                <small><span class="glyphicon glyphicon-time" style="margin-left:45px;"></span> {{ notice.updated_at|naturalday }}</small>
              </a>
            </li>
          </ul>
        {% endfor %}

        <a href="{% url 'notice:notice_list' %}">
          <small>
            <p style="color:gray;">
              more ...
              <!-- <span class="glyphicon glyphicon-play" style="color:gray;"></span> -->
            </p>
          </small>
        </a>

      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong>본당주보</strong></h4>
        {% for weekly in weekly_list|slice:":5" %}
          <ul style="padding-left:0px; line-height: 1;">
            <li style="list-style:none;">
              <a href="{% url 'weekly:weekly_detail' weekly.pk %}" class="view-counter" style="color:#5D5D5D;">
                - {{ weekly.title|truncatechars:15 }}
                <small><span class="glyphicon glyphicon-time" style="margin-left:45px;"></span> {{ weekly.updated_at|naturalday }}</small>
              </a>
            </li>
          </ul>
        {% endfor %}

        <a href="{% url 'weekly:weekly_list' %}">
          <small>
            <p style="color:gray;">
              more ...
              <!-- <span class="glyphicon glyphicon-play" style="color:gray;"></span> -->
            </p>
          </small>
        </a>

      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong>본당일정</strong></h4>
        <a href="{% url 'schedule:schedule' %}">
          <img src="{% static 'img/index_calendar.png' %}" alt="">
        </a>

      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong>매일미사</strong></h4>
        <img src="{% static 'img/logo_07.png' %}" alt="" style="width:200px;">
        <p>굿뉴스에서 제공하는</p>
        <p><strong>"오늘의 미사"</strong> 를 보실 수 있습니다.</p>
        <a href="http://info.catholic.or.kr/missa/" target="_blank" class="btn-sm btn btn-default">
          보러가기
          <!-- <span class="glyphicon glyphicon-play" style="color:gray;"></span> -->
        </a>

          <!-- {% for gallery in gallery_list|slice:":2" %}
            <ul style="list-style:none; padding-left:0px;">
              <li style="float: left; margin-right:25px;">
                {% if gallery.photo_set.all %}
                  {% for p in gallery.photo_set.all|slice:":1" %}
                    <img src="{{ p.photo.url }}" alt="..." style="width:80px; height:80px;">
                  {% endfor %}
                {% endif %}

                <a href="{% url 'gallery:gallery_detail' gallery.pk %}" style="color:#5D5D5D;" role="button">
                  <p style="margin-top:5px; margin-bottom:0px;"><strong>{{ gallery.title }}</strong></p>
                  <p><small><span class="glyphicon glyphicon-time"></span> {{ gallery.updated_at|naturalday }}</small></p>
                </a>
              </li>
            </ul>
          {% endfor %}

          <a href="{% url 'gallery:gallery_list' %}">
            <small>
              <p style="color:gray;">
                more ...
                <span class="glyphicon glyphicon-play" style="color:gray;"></span>
              </p>
            </small>
          </a> -->

        <!-- {% for gallery in gallery_list|slice:":2" %}
          {% if gallery.photo_set.all %}
            {% for p in gallery.photo_set.all|slice:":1" %}
              <img src="{{ p.photo.url }}" alt="..." style="width:100px; height:100px;">
            {% endfor %}
          {% endif %}

          <a href="{% url 'gallery:gallery_detail' gallery.pk %}" style="color:#5D5D5D;" role="button">
            <p style="margin-top:10px; margin-bottom:0px;"><strong>{{ gallery.title }}</strong></p>
            <p><small><span class="glyphicon glyphicon-time"></span> {{ gallery.updated_at|naturalday }}</small></p>
          </a>
        {% endfor %} -->

      </div>

    </div>

    <br/>

    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; margin-bottom: 30px;">

      <div class="col-md-6 col-sm-12 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong>행사사진</strong></h4>

        {% for gallery in gallery_list|slice:":3" %}
          <ul style="list-style:none; padding-left:0px;">
            <li style="float: left; margin-right:30px;">
              {% if gallery.photo_set.all %}
                {% for p in gallery.photo_set.all|slice:":1" %}
                  <img src="{{ p.photo.url }}" alt="..." style="width:150px; height:100px;">
                {% endfor %}
              {% endif %}

              <a href="{% url 'gallery:gallery_detail' gallery.pk %}" style="color:#5D5D5D;" role="button">
                <p style="margin-top:5px; margin-bottom:0px;"><strong>{{ gallery.title }}</strong></p>
                <p><small><span class="glyphicon glyphicon-time"></span> {{ gallery.updated_at|naturalday }}</small></p>
              </a>
            </li>
          </ul>
        {% endfor %}

        <a href="{% url 'gallery:gallery_list' %}">
          <small>
            <p style="color:gray;">
              more ...
              <!-- <span class="glyphicon glyphicon-play" style="color:gray;"></span> -->
            </p>
          </small>
        </a>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong>우리들의 사진</strong></h4>

        {% for picture in picture_list|slice:":3" %}
          <ul style="list-style:none; padding-left:0px;">
            <li style="float: left; margin-right:30px;">
              {% if picture.thumbnail_set.all %}
                {% for p in picture.thumbnail_set.all|slice:":1" %}
                  <img src="{{ media }}{{ p }}" alt="..." style="width:150px; height:100px;">
                {% endfor %}
              {% endif %}

              <a href="{% url 'picture:picture_detail' picture.pk %}" style="color:#5D5D5D;" role="button">
                <p style="margin-top:5px; margin-bottom:0px;"><strong>{{ picture.title }}</strong></p>
                <p><small><span class="glyphicon glyphicon-time"></span> {{ picture.updated_at|naturalday }}</small></p>
              </a>
            </li>
          </ul>
        {% endfor %}
        <a href="{% url 'picture:picture_list' %}">
          <small>
            <p style="color:gray;">more ...</p>
          </small>
        </a>
      </div>

    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; margin-bottom: 30px;">

      <div class="col-md-6 col-sm-12 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong>미사시간 안내</strong></h4>

        <a href="#">
          <img src="{% static 'img/mass-time.png' %}" alt="" style="width:100%; height:125px;">
        </a>

        <!-- <div style="float: left;">
          <ul style="padding-left:0; line-height: 2.2;">
            <li style="list-style:none;">화요일 : 오전 10시</li>
            <li style="list-style:none;">수요일 : 오전 10시</li>
            <li style="list-style:none; margin-left:47.5px;">오후 7시 30분</li>
            <li style="list-style:none;">목요일 : 오전 10시</li>
          </ul>
        </div>

        <div style="float: left; line-height: 2.2;">
          <ul style="padding-left:35px;">
            <li style="list-style:none;">금요일 : 오전 10시</li>
            <li style="list-style:none;">토요일 : 오전 10시(매월 첫 주)</li>
            <li style="list-style:none; margin-left:47.5px;">오후 4시(초등부)</li>
            <li style="list-style:none; margin-left:47.5px;">오후 7시 30분(특전미사)</li>
          </ul>
        </div>

        <div style="float: left; line-height: 2.2;">
          <ul style="padding-left:35px; color:orange;">
            <li style="list-style:none;">주일 : 오전 6시 30분</li>
            <li style="list-style:none; margin-left:35.5px;">오전 9시(중,고생)</li>
            <li style="list-style:none; margin-left:35.5px;">오전 11시(교중미사)</li>
            <li style="list-style:none; margin-left:35.5px;">오후 6시(청년미사)</li>
          </ul>
        </div> -->


      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong >업무시간</strong></h4>
        <!-- <div style="float: left; line-height: 1.5;">
          <ul style="padding-left:0px;">
            <li style="list-style:none;">월: 휴무</li>
            <li style="list-style:none;">화: 9시~17시</li>
            <li style="list-style:none;">수: 9시~17시</li>
            <li style="list-style:none;">목: 9시~17시</li>
            <li style="list-style:none;">금: 휴무</li>
            <li style="list-style:none;">토: 9시~21시(첫주)</li>
          </ul>
        </div>
        <div style="float: left; margin-left:80px;">
          <ul style="padding-left:35px;">
            <li style="list-style:none;">주일: </li>
            <li style="list-style:none; color:#ffffff">.</li>
            <li style="list-style:none;">점심시간: </li>
            <li style="list-style:none;">평일: </li>
            <li style="list-style:none;">주일: </li>
          </ul>
        </div> -->
        <img src="{% static 'img/work-time.png' %}" alt="" style="width:100%; height:125px;">
      </div>

      <!-- <div class="col-md-3 col-sm-6 col-xs-12">
        <h4 style="margin-bottom:20px; border-bottom: 1.5px solid brown; padding-bottom:5px;"><strong>본당일정</strong></h4>
        <a href="{% url 'schedule:schedule' %}">
          <img src="{% static 'img/index_calendar.png' %}" alt="">
        </a>
      </div> -->

    </div>

  </div>
</div>
{% endblock %}
