{% extends 'base2.html' %}
{% load static %}
{% load humanize %}

{% block css %}
  <link href="{% static 'css/offcanvass.css' %}" rel="stylesheet">
  <link href="{% static 'css/pagination.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">

      <div id="jumbotron">
        {% include "jumbotron/jumbotron3.html" %}
      </div>

      <div class="col-lg-12 col-md-12" id="web-content">

        <div class="col-md-2 sidebar-offcanvas" id="sidebar">
          {% include "notice/sidebar.html" %}
        </div>

        <div class="col-lg-10 col-md-10">
          <h3>공지사항</h3>
          <hr>

          <div class="input-group col-md-4" style="float: left;">
            <form action="" method="get">
              {% csrf_token %}
              <span class="input-group-btn">
                <input type="text" class="form-control input-md" placeholder="검색..." name="q" value="{{ q }}" />
              </span>
              <span class="input-group-btn">
                <button class="btn btn-info btn-md notice-search" type="submit" style="background:#555; border-color:#555;">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </form>
          </div>

          {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'notice:notice_new' %}" class="pull-right btn btn-info" style="float: left; background:#555; border-color:#555;">글쓰기</a>
          {% endif %}

          <div style="margin-top:130px;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>글쓴이</th>
                  <th>날짜</th>
                  <th>조회수</th>
                </tr>
              </thead>
              <tbody>
                {% for notice in notice_list %}
                  <!-- style="cursor:pointer;" -->
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                      <a href="{% url 'notice:notice_detail' notice.pk %}" class="view-counter">{{ notice.title }}
                        {% if notice.noticecomment_set.all %}
                          <small class="text-danger">[{{ notice.noticecomment_set.count }}]</small>
                        {% endif %}
                      </a>
                    </td>
                    <td><small>{{ notice.user.last_name }}{{ notice.user.first_name }}</small></td>
                    <td><small>{{ notice.updated_at }}</small></td>
                    <td>{{ notice.hits }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="text-center">
            {% include "notice/pagination.html" %}
          </div>
        </div>
      </div>

      <div id="mobile-content" class="row" style="text-align:center;">
        <div class="mobile-header-wrap">
          {% include "notice/mobile-header.html" %}
        </div>

        <div class="col-sm-12" style="margin-top:30px;">
          <div class="col-sm-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th style="text-align:left;">공지사항</th>
                  <th style="text-align:right;">
                    {% if user.is_authenticated and user.is_superuser %}
                      <a href="{% url 'notice:notice_new' %}" style="color:#5F5F5F;">글쓰기</a>
                    {% endif %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for notice in notice_list %}
                  <tr>
                    <td colspan="2">
                      <span class="pull-left" style="margin-left:15px;">
                        <small>
                          <i class="fas fa-user"></i>
                          {{ notice.user.last_name }}{{ notice.user.first_name }}
                        </small>
                      </span>
                      <span style="margin-right:75px;">
                        <small>
                          <span class="glyphicon glyphicon-time"></span>
                          {{ notice.updated_at|naturalday }}
                        </small>
                      </span>
                      <span class="pull-right" style="margin-right:15px;">
                        <small>
                          <span class="glyphicon glyphicon-eye-open"></span>
                          {{ notice.hits }}
                        </small>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <a href="{% url 'notice:notice_detail' notice.pk %}" class="view-counter">
                        {{ notice.title|truncatechars:45 }}
                        {% if notice.noticecomment_set.all %}
                          <small class="text-danger">[{{ notice.noticecomment_set.count }}]</small>
                        {% endif %}
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="text-center col-ms-12">
            {% include "notice/pagination.html" %}
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
