{% extends 'base2.html' %}
{% load static %}
{% load humanize %}

{% block css %}
  <link href="{% static 'css/offcanvass.css' %}" rel="stylesheet">
  <link href="{% static 'css/pagination.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">

      <div id="jumbotron">
        {% include "jumbotron/jumbotron3.html" %}
      </div>

      <div class="col-lg-12 col-md-12" id="web-content">

        <div class="col-md-2 sidebar-offcanvas" id="sidebar">
          {% include "flower/sidebar.html" %}
        </div>

        <div class="col-lg-10 col-md-10" id="content">
          <h3>제대꽃</h3>
          <hr>

          <div class="input-group col-md-4" style="float: left;">
            <form action="" method="get">
              {% csrf_token %}
              <span class="input-group-btn">
                <input type="text" class="form-control input-md" placeholder="검색..." name="q" value="{{ q }}" />
              </span>
              <span class="input-group-btn">
                <button class="btn btn-info btn-md notice-search" type="submit" style="background:#555; border-color:#555;">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </form>
          </div>

          {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'flower:flower_new' %}" class="pull-right btn btn-info" style="float: left; background:#555; border-color:#555;">글쓰기</a>
          {% endif %}

          <div style="margin-top:130px;">
            <div class="row">
              {% for flower in flower_list %}
                <!-- <div class="row"> -->
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      {% if flower.thumbnail_set.all %}
                        {% for t in flower.thumbnail_set.all %}
                          <a href="{% url 'flower:flower_detail' flower.pk %}">
                            <img src="{{ media }}{{ t }}" alt="..." style="height:200px;">
                          </a>
                        {% endfor %}
                      {% endif %}

                      <div class="caption">
                        <a href="{% url 'flower:flower_detail' flower.pk %}" style="color:black;" role="button">
                          <div style="height:30px;">
                            <h4>{{ flower.title }}</h4>
                          </div>
                        </a>
                        <hr style="margin-bottom:10px;">

                        <p>
                          <small style="margin-right:10px; margin-left:10px;">
                            <i class="fas fa-user"></i>
                            {{ flower.user.last_name }}{{ flower.user.first_name }}
                          </small>
                          <small style="color:gray; margin-right:10px;"><span class="glyphicon glyphicon-time"></span> {{ flower.updated_at|naturalday }}</small>
                          <small style="color:gray; margin-right:10px;"><span class="glyphicon glyphicon-eye-open"></span> {{ flower.hits }}</small>
                        </p>

                        <hr style="margin-bottom:10px; margin-top:10px;">
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              {% endfor %}
            </div>
            <div class="text-center col-md-12">
              {% include "flower/pagination.html" %}
            </div>
          </div>
        </div>
      </div>

      <div id="mobile-content" class="row" style="text-align:center;">
        <div class="mobile-header-wrap">
          {% include "flower/mobile-header.html" %}
        </div>

        <div class="col-sm-12" style="margin-top:30px;">

          <div class="col-sm-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th style="text-align:left;">제대꽃</th>
                  <th style="text-align:right;">
                    {% if user.is_authenticated and user.is_superuser %}
                      <a href="{% url 'flower:flower_new' %}" style="color: #5F5F5F;">글쓰기</a>
                    {% endif %}
                  </th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="row">
            {% for flower in flower_list %}
              <!-- <div class="row"> -->
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    {% if flower.thumbnail_set.all %}
                      {% for t in flower.thumbnail_set.all %}
                        <a href="{% url 'flower:flower_detail' flower.pk %}">
                          <img src="{{ media }}{{ t }}" alt="..." style="height:200px;">
                        </a>
                      {% endfor %}
                    {% endif %}

                    <div class="caption">
                      <a href="{% url 'flower:flower_detail' flower.pk %}" style="color:black;" role="button">
                        <div style="height:30px;">
                          <h4>{{ flower.title }}</h4>
                        </div>
                      </a>
                      <hr style="margin-bottom:10px;">

                      <p>
                        <small style="margin-right:10px; margin-left:10px;">
                          <i class="fas fa-user"></i>
                          {{ flower.user.last_name }}{{ flower.user.first_name }}
                        </small>
                        <small style="color:gray; margin-right:10px;"><span class="glyphicon glyphicon-time"></span> {{ flower.updated_at|naturalday }}</small>
                        <small style="color:gray; margin-right:10px;"><span class="glyphicon glyphicon-eye-open"></span> {{ flower.hits }}</small>
                      </p>

                      <hr style="margin-bottom:10px; margin-top:10px;">
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            {% endfor %}
          </div>

          <div class="text-center col-md-12">
            {% include "flower/pagination.html" %}
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
