{% extends 'base2.html' %}
{% load static %}

{% block css %}
  <link href="{% static 'css/offcanvass.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">

      <div id="jumbotron">
        {% include "jumbotron/jumbotron3.html" %}
      </div>

      <div class="col-md-2 sidebar-offcanvas" id="sidebar">
        {% include "schedule/sidebar.html" %}
      </div>

      <div id="mobile-content" class="row" style="text-align:center;">
        <div class="mobile-header-wrap">
          {% include "schedule/mobile-header.html" %}
        </div>
      </div>

      <div class="col-md-10" id="content">

        <h3>본당일정</h3>
        <hr>

        <div style="margin-top:70px;">

          <div id="calendar" style="float: center;">
          </div>

        </div>

      </div>

    </div>
  </div>
{% endblock %}

{% block extra_body %}
<script>
  $('#calendar').fullCalendar({
    header: {
      left: "",
      center: "title"
    },
    defaultView: 'month',
    lang : 'ko',
    eventLimit: 4,
    events: function(start, end, timezone, callback) {
      $.ajax({
          url: "{% url 'schedule:schedule_ajax' %}",
          type : 'post',
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
          // data : {EVENT_CODE : '11', LANG : lang_cd, startDate : start.format(), endDate : end.format() },
          dataType: 'json',
          success: function(data) {
            var events = [];
            for (var i=0; i<data.length; i++){
              events.push({
                title: data[i].title,
                start: data[i].start,
                end: data[i].end,
              });
            };

            callback(events);
          }
      });

    },
  });

</script>

{% endblock %}
